.bg-1 {
    background-color: #1abc9c;
    /* Green */
    color: #ffffff;
    text-align: center;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.bg-2 {
    background-color: #474e5d;
    /* Dark Blue */
    color: #ffffff;
    text-align: center;
}

.bg-3 {
    background-color: #ffffff;
    /* White */
    color: #555555;
    text-align: center;
}